<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.senacplanner">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelaLogin"
        tools:targetApi="31">

        <!-- Edição -->
        <activity
            android:name=".editarpilar.EditarActivity"
            android:exported="false" />
        <activity
            android:name=".editarAtividade.EditarAtividadeActivity"
            android:exported="false" />

        <!-- Login e Inicial -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Criação -->
        <activity
            android:name=".novopilar.NovoPilarActivity"
            android:exported="true" />
        <activity
            android:name=".Acoes.CriarAcaoActivity"
            android:exported="false" />
        <activity
            android:name=".Acoes.CriarAtividadeActivity"
            android:exported="false" />

        <!-- Lista -->
        <activity
            android:name=".Acoes.ListaAtividades"
            android:exported="false" />

        <!-- Perfis -->
        <activity
            android:name=".CoordenadorActivity"
            android:exported="false" />
        <activity
            android:name=".GestorActivity"
            android:exported="false" />
        <activity
            android:name=".ApoioActivity"
            android:exported="false" />

        <!-- Gráficos e Progresso -->
        <activity
            android:name=".EvolucaoPilarActivity"
            android:exported="false" />
        <activity
            android:name=".PilarAcaoActivity"
            android:exported="false" />
        <activity
            android:name=".EvolucaoAcaoActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressoPilaresActivity"
            android:exported="false" />
        <activity
            android:name=".GraficosActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardGraficoActivity"
            android:exported="false" />
        <activity
            android:name=".NotificacoesActivity"
            android:exported="false" />

    </application>
</manifest>
