<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pivot">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Pivot"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelaLogin"
        tools:targetApi="31">


    <!-- Edição -->
        <activity
            android:name="com.example.pivot.editarpilar.EditarActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.editarAtividade.EditarAtividadeActivity"
            android:exported="false" />

        <activity
            android:name="com.example.pivot.Acoes.EditarAcaoActivity"
            android:exported="false" />

        <!-- Login e Inicial -->
        <activity
            android:name="com.example.pivot.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Criação -->
        <activity
            android:name="com.example.pivot.novopilar.NovoPilarActivity"
            android:exported="true" />
        <activity
            android:name="com.example.pivot.Acoes.CriarAcaoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.Acoes.CriarAtividadeActivity"
            android:exported="false" />

        <!-- Lista -->
        <activity
            android:name="com.example.pivot.Acoes.ListaAtividades"
            android:exported="false" />

        <!-- Perfis -->
        <activity
            android:name="com.example.pivot.ui.CoordenadorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.ui.GestorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.ApoioActivity"
            android:exported="false" />

        <!-- Gráficos e Progresso -->
        <activity
            android:name="com.example.pivot.ui.EvolucaoPilarActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.ui.PilarAcaoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.ui.EvolucaoAcaoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.ui.ProgressoPilaresActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.ui.GraficosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.ui.DashboardGraficoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pivot.NotificacoesActivity"
            android:exported="false" />
        <activity android:name="com.example.pivot.ui.EvolucaoAtividade" />
        <activity android:name="com.example.pivot.ui.GraficoEvolucaoAtividade" />
        <activity android:name="com.example.pivot.ui.GerarRelatorio" />





    </application>
</manifest>
