<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.senacplanner">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelaLogin"
        tools:targetApi="31">
        <activity
            android:name=".editarpilar.EditarActivity"
            android:exported="false" />

        <activity
            android:name=".editarAtividade.EditarAtividadeActivity"
            android:exported="false" />
        <!-- Tela principal (Login) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Outras telas -->
        <activity
            android:name=".novopilar.NovoPilarActivity"
            android:exported="true" />
        <activity
            android:name=".CoordenadorActivity"
            android:exported="false" />
        <activity
            android:name=".GestorActivity"
            android:exported="false" />
        <activity
            android:name=".ApoioActivity"
            android:exported="false" />
        <activity
            android:name=".Acoes.ListaAtividades"
            android:exported="false" />

        <activity android:name=".NotificacoesActivity" />
        <activity android:name=".EvolucaoPilarActivity"/>
        <activity android:name=".PilarAcaoActivity" />
        <activity
            android:name=".EvolucaoAcaoActivity"/>

        <activity android:name=".ProgressoPilaresActivity" />
        <activity android:name=".GraficosActivity" />
        <activity android:name=".DashboardGraficoActivity" />
        <activity android:name=".Acoes.CriarAtividadeActivity" />


    </application>

</manifest>